.media-fitter-outer{
  position: relative;
}
.media-fitter-inner{
  bottom: 0;
  left: 0;
  /*height: auto;*/
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  /*z-index: 3;*/
}
.media-fitter-inner *{
  width: 100%;
  height: 100%;
}
.autoplay-video{
  width: 100%;
}
